In [12]:
import pandas as pd
from statsmodels.stats.proportion import proportion_confint
from statsmodels.stats.weightstats import _tconfint_generic

In [7]:
sample10000 = pd.read_csv('sample10000.csv', parse_dates=[1,2])
sample10000.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2016-12-19 20:13:04,2016-12-19 20:16:58,1,0.87,1,N,238,142,1,5.0,0.5,0.5,1.50,0.0,0.3,7.80
1,1,2016-12-27 19:28:48,2016-12-27 19:30:31,1,0.10,1,N,231,144,2,3.0,1.0,0.5,0.00,0.0,0.3,4.80
2,1,2016-12-17 00:57:37,2016-12-17 01:10:37,3,2.30,1,N,90,233,1,11.0,0.5,0.5,2.45,0.0,0.3,14.75
3,1,2016-12-01 20:32:54,2016-12-01 20:52:17,1,5.00,1,N,13,143,1,18.5,0.5,0.5,3.95,0.0,0.3,23.75
4,2,2016-12-12 19:25:14,2016-12-12 19:34:15,2,1.43,1,N,164,79,1,7.5,1.0,0.5,1.00,0.0,0.3,10.30

In [3]:
sample10000.groupby(['payment_type'])['payment_type'].count()

payment_type
1    6397
2    3543
3      48
4      12
Name: payment_type, dtype: int64

In [6]:
# I'm assuming that payment_type == 2 is for cash! I found a datadictionary for 2017 NYC taxi data that has this.
n_success = sample10000.groupby(['payment_type'])['payment_type'].count().loc[2]
n_success / len(sample10000)

0.3543

In [5]:
# What is a 99% confidence interval?
proportion_confint(n_success, len(sample10000), alpha=0.01)

(0.34197979174644566, 0.36662020825355435)

In [8]:
# Find the average trip distance
sample10000['trip_distance'].mean()

2.881264

In [25]:
# Find the standard deviation
sample10000['trip_distance'].std()

3.583925411394529

In [17]:
# Find the 95% confidence interval on the trip_distance
s = sample10000['trip_distance'].std(ddof=1) / len(sample10000['trip_distance'])**0.5
_tconfint_generic(sample10000['trip_distance'].mean(), 
                  s,
                  len(sample10000['trip_distance']) - 1,
                  0.05, 'two-sided')

(2.8110118487985973, 2.9515161512014023)